body {
    margin: 0;
    padding: 0;
}

#k-wrap {
    /*float: none;*/
    /*margin: 0 auto;*/
    /*width: 400px;*/
}

#k-grid {
    margin: 10px;
    padding: 0;
    width: 640px;
}

.k-cell {
    border: 1px solid #1d1e1f;
    height: 80px;
    width: 80px;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

.k-selected {
    background-color: #78d88b;
}

.k-highlight {
    background-color: #eaf2ff;

}

.k-label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 100%;
}

.k-candidate{
    font-size: 95%;
}

.k-value {
    font-size: 300%;
    color: #3c763d;
    text-align: center;
}

.k-wrong {
    background-color: #ff828d;
}

.k-bt {
    border-top: 3px solid #1d1e1f;
}

.k-br {
    border-right: 3px solid #1d1e1f;
}

.k-bb {
    border-bottom: 3px solid #1d1e1f;
}

.k-bl {
    border-left: 3px solid #1d1e1f;
}

.k-pad {
    width: 300px;
    margin: 10px;
    padding: 10px;
}

.k-impossible {
    color: red;
}
