<div id="k-wrap">
    <table id="k-grid">
        <tr ng-repeat="row in $ctrl.grid.cells" class="k-row">
            <td ng-repeat="cell in row"
                class="k-cell {{$ctrl.getBorderSelectors(cell.borders)}} {{$ctrl.getImpossibleAnswerClass(cell, cell.getAnswer())}} {{$ctrl.getHighlight($parent.$index,$index)}}"
                ng-click="$ctrl.select($parent.$index,$index)"
            >
                <span ng-show="cell.label" class="k-label">{{cell.label}}</span>
                <span ng-hide="cell.hasCandidates()"
                      class="k-value {{$ctrl.getCandidateClass(cell, cell.getAnswer())}}">
                    {{cell.getAnswer()}}
                </span>
                <span ng-show="cell.hasCandidates()" class="k-candidates">
                    <span ng-repeat="candidate in cell.candidates"
                          class="{{$ctrl.getCandidateClass(cell, candidate)}}"
                    >
                        {{candidate}}
                    </span>
                </span>
            </td>
        </tr>
    </table>
</div>